body{
    margin: 30px 470px;
}
.main-container{
    /* background-color: blue; */
    width: 500px;
    border-radius: 20px;
    text-align: center;
}
.college-name{
    width: 100%;
    background-color:rgb(211, 15, 15);
    height: 60px;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.name{
    padding-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: 1000;
}
.address{
    margin-top: -15px;

}
.image-details{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.img{
    width:150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid black;
    margin-left: 5px;
}
.details{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
    font-style: italic;
    font-weight: 500;
    width: 300px;
    height: 150px;
    border: 2px solid red;
    margin-right: 5px;

}
.barcode-sign{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.bar{
    width: 300px;
    height: 30px;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 5px;
}
.sign{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:small;
    font-weight: 300;
    width:100px ;
}
.card{
    color: blue;
}
.help{
    background-color: greenyellow;
    border-radius: 10px;
    border: 2px solid black; 
    color: white;
    padding: 10px;
    margin: 30px;
    display:inline;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.exam{
    background-color: tomato;
    text-align: center;
    border-radius: 12px;
    width: 500px;
    position: sticky;
    top: 0;
}